@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.hidden {
  display: none;
}

.open-modal {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 30px;
}
.open-modal #menu {
  color: white;
  height: 100%;
}
.open-modal #menu ul {
  list-style-type: none;
  margin-top: 55%;
}
.open-modal #menu li {
  padding: 15px 0;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
}
.open-modal #menu li a {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

header {
  min-height: 650px;
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  padding: 40px 30px;
}
header #icon-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 25px;
}
header .title {
  border: 2px solid white;
  margin-top: 45%;
  padding: 25px;
}
header .title p {
  color: white;
  font-size: 2.25em;
  text-transform: uppercase;
  word-spacing: 30px;
  letter-spacing: 2.5px;
}

.interactive {
  min-height: 80vh;
  margin: 50px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 50px;
  color: dimgray;
}
.interactive h2 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.746);
  text-transform: uppercase;
  margin-bottom: -25px;
}
.interactive p {
  line-height: 1.5;
  font-weight: bolder;
  margin: 0 25px;
}

.creations-gallery {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creations-gallery h2 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px;
  margin-top: -25px;
  font-size: 30px;
  color: black;
}
.creations-gallery .creations-item {
  height: auto;
  position: relative;
  margin: 10px 20px;
}
.creations-gallery .creations-item img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(2.5);
}
.creations-gallery .creations-item p {
  max-width: 140px;
  position: absolute;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px;
  bottom: 0;
  letter-spacing: 1px;
}
.creations-gallery a {
  text-align: center;
  padding: 15px;
  border: 1.5px solid black;
  width: 40%;
  height: 45px;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-family: "Alata" sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 80px;
}

footer {
  height: 470px;
  font-size: 14px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 60px 30px;
}
footer .logo {
  width: 140px;
}
footer nav li {
  list-style-type: none;
  margin: 30px;
  font-weight: bolder;
  letter-spacing: 1px;
}
footer .social-media img {
  margin: 5px;
  margin-top: 15px;
}
footer p {
  color: #8c8c8c;
  font-size: 1.2em;
  margin: 15px;
}

/*# sourceMappingURL=style.css.map */
