@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.hidden {
  display: none;
}

.open-modal {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 30px;
}
.open-modal #menu {
  color: white;
  height: 100%;
}
.open-modal #menu ul {
  list-style-type: none;
  margin-top: 55%;
}
.open-modal #menu li {
  padding: 10px 0;
  margin: 10px 0;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
}
.open-modal #menu li a {
  color: white;
  text-decoration: none;
  position: relative;
}
.open-modal #menu li a:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  width: 0;
  background: none;
  transition: width 0.2s ease;
}
.open-modal #menu li a:hover:after {
  background: white;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

header {
  min-height: 650px;
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  padding: 40px 30px;
}
header #icon-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 25px;
}
header .title {
  border: 2px solid white;
  margin-top: 45%;
  padding: 25px;
}
header .title p {
  color: white;
  font-size: 2.25em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.interactive {
  min-height: 80vh;
  margin: 50px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 50px;
  color: dimgray;
}
.interactive h2 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.746);
  text-transform: uppercase;
}
.interactive p {
  line-height: 1.5;
  font-weight: bolder;
  margin: 0 25px;
}

.creations-gallery {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creations-gallery h2 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px;
  margin-top: -25px;
  font-size: 30px;
  color: black;
}
.creations-gallery .creations-item {
  height: auto;
  position: relative;
  margin: 10px 20px;
}
.creations-gallery .creations-item img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(2.5);
}
.creations-gallery .creations-item p {
  max-width: 140px;
  position: absolute;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px;
  bottom: 0;
  letter-spacing: 1px;
}
.creations-gallery .creations-item:hover {
  transform: scale(0.98);
  transition: transform 0.5s;
  cursor: pointer;
}
.creations-gallery .creations-item:hover img {
  opacity: 0.5;
}
.creations-gallery .creations-item:hover p {
  color: black;
  font-weight: bolder;
  transition: 0.2s all ease;
}
.creations-gallery a {
  text-align: center;
  padding: 15px;
  border: 1.5px solid black;
  width: 40%;
  height: 45px;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-family: "Alata" sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 80px;
}
.creations-gallery a:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: 0.5s all ease;
}

footer {
  height: 500px;
  font-size: 14px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 60px 30px;
}
footer .logo {
  width: 140px;
}
footer nav li {
  list-style-type: none;
  margin: 30px;
  font-weight: bolder;
  letter-spacing: 1px;
}
footer .social-media img {
  margin: 5px;
  margin-top: 15px;
}
footer p {
  color: #8c8c8c;
  font-size: 1.2em;
  margin: 15px;
}

.attribution {
  color: white;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: #d129d1;
}

.desktop-img {
  display: none;
}

@media screen and (min-width: 800px) {
  header {
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: center center;
    padding: 80px 150px;
  }
  header #icon-hamburger {
    display: none;
  }
  header .nav-bar {
    position: relative;
    top: 0;
    display: flex;
  }
  header .nav-bar .logo {
    cursor: pointer;
    margin-right: auto;
  }
  header .nav-bar nav {
    display: block;
  }
  header .nav-bar nav ul {
    list-style: none;
  }
  header .nav-bar nav li {
    display: inline-block;
    padding: 0px 15px;
  }
  header .nav-bar nav a {
    color: white;
    text-decoration: none;
    position: relative;
  }
  header .nav-bar nav a:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0;
    background: none;
    transition: width 0.5s ease;
  }
  header .nav-bar nav a:hover:after {
    width: 60%;
    background: white;
  }
  header .title {
    margin: 0;
    margin-top: 100px;
    width: 60%;
    font-size: 32px;
    padding: 40px;
  }

  .interactive {
    height: 650px;
    margin: 50px 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .interactive img {
    width: 65%;
    max-height: 500px;
  }
  .interactive .interactive-text {
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    width: 50%;
    text-align: left;
    background-color: white;
    padding: 80px 0 10px 80px;
    margin: 70px 120px;
    margin-right: 0;
  }
  .interactive .interactive-text h2 {
    font-size: 3em;
    font-weight: 400;
  }
  .interactive .interactive-text p {
    margin: 0;
    margin-top: 25px;
  }

  .creations-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 450px 450px;
    margin: 50px 150px 200px 150px;
  }
  .creations-gallery h2 {
    grid-area: 1/1/2/4;
    font-size: 3em;
  }
  .creations-gallery a {
    grid-area: 1/4;
    justify-self: flex-end;
    width: 180px;
  }
  .creations-gallery .creations-item {
    height: 450px;
    width: 100%;
    margin: 10px;
  }
  .creations-gallery .creations-item .mobile-img {
    display: none;
  }
  .creations-gallery .creations-item .desktop-img {
    display: block;
    padding: 10px;
  }
  .creations-gallery .creations-item p {
    margin: 50px;
  }
  .creations-gallery footer {
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 50px 180px;
    margin-top: 150px;
  }
  .creations-gallery footer .social-media {
    grid-area: 1/2;
    justify-self: flex-end;
  }
  .creations-gallery footer nav {
    justify-self: flex-start;
  }
  .creations-gallery footer nav ul {
    display: inline-flex;
  }
  .creations-gallery footer nav li {
    margin-left: 0;
  }
  .creations-gallery footer .footer-copyrigth {
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
