.hidden {
  display: none;
}

.open-modal {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 30px;

  #menu {
    color: white;
    height: 100%;

    ul {
      list-style-type: none;
      margin-top: 55%;
    }

    li {
      padding: 10px 0;
      margin: 10px 0;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: lighter;

      a {
        color: white;
        text-decoration: none;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          height: 2px;
          bottom: -4px; 
          margin: 0 auto;
          left: 0;
          width: 0;
          background: none;
          transition: width 0.2s ease;
        }

        &:hover:after {
          background: white;
          width: 100%;
        }
      }
    }
  }
}
