@use 'modal';
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  min-height: 650px; // Repetido
  background-image: url('../images/mobile/image-hero.jpg');
  background-size: cover;
  padding: 40px 30px; 

  #icon-hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px 25px;
  }

  .title {
    border: 2px solid white;
    margin-top: 45%;
    padding: 25px;

    p {
      color: white;
      font-size: 2.25em;
      text-transform: uppercase;
      //word-spacing: 30px;
      letter-spacing: 2.5px;
    }  
  }
}

.interactive {
  min-height: 80vh;
  margin: 50px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 50px;
  color: hsl(0, 0%, 41%);
  
  h2 {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.746);
    text-transform: uppercase;
  }

  p {
    line-height: 1.5;
    font-weight: bolder;
    margin: 0 25px;
  }

}

.creations-gallery {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px;
    margin-top: -25px ;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }

  .creations-item {
    height: auto;
    position: relative;
    margin: 10px 20px;

    img {
      max-width:100%;
      max-height:100%;
      filter:drop-shadow(2.5);
    }
    
    p {
      max-width: 140px;
      position: absolute;
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      margin: 20px;
      bottom: 0;
      letter-spacing: 1px;
    }    
  }

  a {
    text-align: center;
    padding: 15px;
    border: 1.5px solid black;
    width: 40%;
    height: 45px;
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-family: 'Alata' sans-serif;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 80px;
  }
}

footer {
  height: 470px;
  font-size: 14px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 60px 30px;

  .logo {
    width: 140px;
  }

  nav {
    li {
      list-style-type: none;
      margin: 30px;
      font-weight: bolder;
      letter-spacing: 1px;
    }
  }

  .social-media {
    img {
      margin: 5px;
      margin-top: 15px;
    }
  }

  p {
    color: hsl(0, 0%, 55%);
    font-size: 1.2em;
    margin: 15px;
  }
}

.desktop-img {
  display: none;
}

@media screen and (min-width:800px) {


header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: center center;
  padding: 80px 150px;

  #icon-hamburger {
    display: none;
  }

  .nav-bar {
    position: relative;
    top: 0;
    display: flex;

    .logo {
      cursor: pointer;
      margin-right: auto;
    }

    nav{
      display: block;

      ul {
        list-style: none;
      }

      li {
        display: inline-block;
        padding: 0px 15px;
      }

      a {
        color:white;
      }

      a:link {
        text-decoration: none;
      }
    }
  }

  .title {
    margin: 0;
    margin-top: 100px;
    width: 60%;
    font-size: 32px;
    padding: 40px;
  }

} 
/*
.interactive {
  height: 650px;
  padding: 100px 150px;
  position: relative;

  img {
    width: 65%;
    max-height: 450px;
  }

  .interactive-text {
    text-align: left;
    position: absolute;
    width: 40%;
    right: 0;
    bottom: 0;
    background-color: white ;
    padding: 100px 0 0 100px;
    margin: 150px;

    h2 {
      font-size: 3em;
      font-weight: 400;
    }

    p {
      margin: 0;
      margin-top: 25px;
    }
  }
}
*/
.interactive {
  height: 650px;
  margin: 50px 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  img {
    width: 65%;
    max-height: 500px;
  }

  .interactive-text {
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    width: 50%;
    text-align: left;
    background-color: white;
    padding: 80px 0 10px 80px;
    margin: 70px 120px;
    margin-right: 0;
    h2 {
      font-size: 3em;
      font-weight: 400;
    }

    p {
      margin: 0;
      margin-top: 25px;
    }
  }
}

.creations-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 450px 450px;
  margin: 50px 150px;

  h2 {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 3em;
  }

  a {
    grid-area: 1 / 4;
    justify-self: flex-end;
    width: 180px;
  }

  .creations-item {
    height: 450px;
    width: 100%;
    margin: 10px;

    .mobile-img {
      display: none;
    }

    .desktop-img {
      display: block;
      padding: 10px;
    }

    p {
      margin: 50px;
    }
  }
}

footer {
  height: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 50px 180px;
  margin-top: 150px;

  .social-media {
    grid-area: 1/ 2;
    justify-self: flex-end;
  }

  nav {
    justify-self: flex-start;
    ul {
      display: inline-flex;
    }
    
    li {
      margin-left: 0;
    }
  }

  .footer-copyrigth {
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0;
  }
}
}